/* width */
::-webkit-scrollbar {
  height: 3px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #055005;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #065206;
}

header {
  height: 50px;
  top:0;
  width: 100%;
  position: fixed;
  color:green;
  background: white;
  z-index:999;
  border: 1px solid #e0e0e0;
}
.utamabox {
  margin-left: 20px;
  width: calc(70% - 20px);
}
.kategoribox{
    position: fixed;
    top:50px;
    width:calc(70% - 20px);
    z-index:2;
    background: #f3f4fa;
}
.toko.cart {
  position: fixed;
  top:49px;
  right: 20px;
  width: calc(30% - 20px);
  padding: 10px;
  background: white;
  border: 1px solid #e0e0e0;
}
.input-group-text {
  background: green;
  color:white;
}

.form-control:focus {
    border-color: #7dfd54;
    box-shadow: 0 0 0 0.2rem rgba(76, 255, 31, 0.25);
}

.perkategori {
    width: 100%;
    max-width: 80px;
    font-size: 9px;
    padding-left: 4px;
    padding-right: 4px;
}
.perkategori.aktif .perkategoriitem{
  border-color: green;
}
.perkategori.aktif .perkategoriitem .namaproduk{
  background: green;
  color: white;
}
.perkategoriitem{
    margin-bottom: 5px;
    border: 1px solid #e0e0e0;
    cursor:pointer;
    border-radius: 0px;
    background: white;
}
.perkategoriitem img{
  width: 100%;
  max-height: 40px;
  object-fit: cover;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}
.perkategoriitem .namaproduk {
    height: 39px;
    padding: 2px;
    overflow: hidden;
    margin: 0;
}

.peritem{
   margin-bottom: 15px;
   border: 1px solid #e0e0e0;
   cursor:pointer;
   border-radius: 0px;
   background: white;
   box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
.peritem img{
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
}
.perkategoriitem:hover, .peritem:hover {
    border: 1px solid #80ff80;
}
.peritem .namaproduk {
    height: 48px;
    padding: 5px;
    overflow: hidden;
}
.peritem .hargaproduk {
    height: 24px;
    padding: 0px 5px;
    overflow: hidden;
}

.toko.cart .box{
  background:#f3f4fa;
}
.form-control {
  border-radius: 0;
}

.btn-primary {
  border-radius: 0;
  color: #fff;
  background-color: green;
  border-color: green;
}
.btn-primary:hover {
  background-color: #065206;
  border-color: #065206;
}

.productload {
  background: linear-gradient(270deg,  #efefef,#efefef, #cecece, #efefef,#efefef);
  background-size: 200% 200%;
  -webkit-animation: gradient 1s ease infinite;
  -moz-animation: gradient 1s ease infinite;
  -o-animation: gradient 1s ease infinite;
  animation: gradient 1s ease infinite;
}
@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    100%{background-position:200% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    100%{background-position:200% 50%}
}
@-o-keyframes gradient {
    0%{background-position:0% 50%}
    100%{background-position:200% 50%}
}
@keyframes gradient {
    0%{background-position:0% 50%}
    100%{background-position:200% 50%}
}


.prosesloading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: #aaaaaab8;
}

.loader {
  position: fixed;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loadmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width:100%;
}
.loadmore>button {
  margin:auto;
}
